.text__color__white {
    color: #fff;
  }
  
  .slider__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: black;
  }
  
  .card {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 14px;
    color: #555;
  }
  